allow init self:capability sys_module;
allow init kernel:system module_request;
allow init tmpfs:lnk_file create;
allow init self:process execmem;

allow init fuse:dir mounton;

allow init wifi_data_file:dir { write add_name };
allow init wifi_data_file:file { write create setattr };

allow init radio_data_file:dir { write add_name };
allow init radio_data_file:file { write create setattr };

allow init fixmac_exec:file {execute getattr read open};

allow init pds_file:dir { write add_name };
allow init pds_file:file { write create setattr };

allow init vfat:dir { read open search write add_name };
allow init vfat:file { read open create write getattr setattr };

