allow shell serial_device:chr_file { read write getattr ioctl };
#allow shell dalvikcache_data_file:file write;
allow shell toolbox_exec:file {getattr execute read open execute_no_trans };
allow shell kernel:system module_request;
